<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Add Job</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/addjob" method="POST" id="jobForm" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label for="category">Job category</label>
                                        <input type="text" placeholder="Job category" class="form-control"
                                            name="category" id="category">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="category">salary</label>
                                        <input type="text" placeholder="salary" class="form-control"
                                            name="salary" id="salary">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label for="location">Location</label>

                                        <select class="form-select" name="location">
                                            <% countries.forEach(country=> { %>
                                                <option value="<%= country %>">
                                                    <%= country %>
                                                </option>
                                                <% }); %>
                                        </select>

                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <label for="workingday">Working Hours</label>
                                        <input type="text" placeholder="Working Days" class="form-control"
                                            name="workingday" id="workingday">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label for="Skills">Skills</label>
                                        <input type="text" placeholder="Skills" class="form-control" name="Skills" id="Skills">
                                        <button type="button" id="addSkill" onclick="getdata()">Add Skill</button>
                                        <ul id="selectedSkillsList"></ul>
                                    </div>
                                    

                                    <!-- <div class="col-md-6 mb-3">
                                        <label for="education">Education</label>
                                        <input type="text" placeholder="Education" class="form-control" name="education"
                                            id="education">
                                        <button type="button" id="addEducation">Add Education</button>
                                        <ul id="selectedEducationList"></ul>
                                    </div> -->
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label for="category">Company Name</label>
                                        <input type="text" placeholder="Company Name" class="form-control"
                                            name="companyname1" id="companyname1">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="category">Company Description</label>
                                        <textarea rows="5" placeholder="Description..." class="form-control"
                                        name="companydescription1" id="companydescription1"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label for="category">Company Name</label>
                                        <input type="text" placeholder="Company Name" class="form-control"
                                            name="companyname2" id="companyname2">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="category">Company Description</label>
                                        <textarea rows="5" placeholder="Description..." class="form-control"
                                        name="companydescription2" id="companydescription2"></textarea>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <input type="file" name="fileInput" id="fileInput" class="form-control" accept="image/*" onchange="displaySelectedImage()">
                                    <img id="selectedImage" src="#" alt="Selected Image" class="mt-3 mb-0" style="display: none; max-width: 100%; max-height: 200px;">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea rows="5" placeholder="Description..." class="form-control"
                                        name="description" id="description"></textarea>
                                    <button class="btn btn-de-primary btn-sm text-light px-4 mt-3 mb-0"
                                        type="submit" onclick="submitForm()">Save</button>
                                    <button class="btn btn-de-danger btn-sm text-light px-4 mt-3 mb-0" type="button"
                                        id="cancelBtn">Cancel</button>
                                </div>
                            </form>
                        </div> <!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL NO</th>
                                 <th>image</th>
                                    <th>Category</th>
                                    
                                    <th>Location</th>
                                   
                                    
                                    
                                   
                                    <th>Working Day</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (jobdata) { %>
                                    <% for (let i=0; i < jobdata.length; i++) { %>
                                        <% let currentjob=jobdata[i]; %>
                                            <tr>
                                                <td>
                                                    <%= i + 1 %>
                                                </td>
                                                <td>
                                                    <img src="/uploads/<%= currentjob.image %>" alt="image" height="100px" width="100px"/>
                                                </td>
                                               
                                                <td>
                                                    <%= currentjob.category %>
                                                </td>
                                               
                                                <td>
                                                    <%= currentjob.location %>
                                                </td>
                                               
                                               
                                               
                                                <td>
                                                    <%= currentjob.education %>
                                                </td>
                                                <td>
                                                    <%= currentjob.workingday %>
                                                </td>
                                                <td><a href="#" class="btn btn-primary"
                                                        data-bs-target="#modaldemo4_<%= currentjob._id %>"
                                                        data-bs-toggle="modal">Edit </a></td>
                                                <td><a href="#" class="btn btn-danger"
                                                        data-bs-target="#modaldemo3_<%= currentjob._id %>"
                                                        data-bs-toggle="modal">Delete </a></td>

                                            </tr>
                                            <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="11">
                                                            <h1 style="color: red;">Data not found</h1>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <% for (let i=0; i < jobdata.length; i++) { %>
                <% let currentjob=jobdata[i]; %>
                    <!-- Delete Modal -->
                    <div id="modaldemo3_<%= currentjob._id %>" class="modal fade">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="close-modal" >No</button>
                                        <a href="/admin/jobDelete/<%= currentjob._id %>" class="btn btn-danger"
                                            type="button">Yes</a>
                                    </div>
                                </div><!-- modal-content -->
                            </div><!-- modal-dialog -->
                        </div>
                    </div>
                    <% } %>
                        <!-- Delete Modal Close -->
                        <% for (let i = 0; i < jobdata.length; i++) { %>
                            <% let currentjob = jobdata[i]; %>
                            <!-- Edit Modal -->
                            <div id="modaldemo4_<%= currentjob._id %>" class="modal fade">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form action="/admin/editjob/<%= currentjob._id %>" method="POST" id="jobForm_<%= currentjob._id %>" enctype="multipart/form-data">
                                                <div class="form-group row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">Job category</label>
                                                        <input type="text" placeholder="Job category" class="form-control" name="category" id="category" value="<%= currentjob.category %>">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">salary</label>
                                        <input type="text" placeholder="salary" class="form-control"
                                            name="salary" id="salary " value="<%= currentjob.salary %>">
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="location">Location</label>
                                                        <select class="form-select" name="location" id="location">
                                                            <% countries.forEach(country => { %>
                                                                <option value="<%= country %>" <%= currentjob.location === country ? 'selected' : '' %>>
                                                                    <%= country %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                   
                                                    <div class="col-md-6 mb-3">
                                                        <label for="workingday">Working Days</label>
                                                        <input type="text" placeholder="Working Days" class="form-control" name="workingday" id="workingday" value="<%= currentjob.workingday %>">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">Company Name</label>
                                                        <input type="text" placeholder="Company Name" class="form-control"
                                                            name="companyname1" id="companyname1" value="<%= currentjob.companyname1 %>">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">Company Description</label>
                                                        <textarea rows="5" placeholder="Description..." class="form-control"
                                                        name="companydescription1" id="companydescription1"><%= currentjob.companydescription1 %></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">Company Name</label>
                                                        <input type="text" placeholder="Company Name" class="form-control"
                                                            name="companyname2" id="companyname2" value="<%= currentjob.companyname2 %>">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="category">Company Description</label>
                                                        <textarea rows="5" placeholder="Description..." class="form-control"
                                                        name="companydescription2" id="companydescription2"><%= currentjob.companydescription2 %></textarea>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group row">
                                                    <div class="col-sm-12 mb-3">
                                                        <label for="Skills">Skills</label>
                                                        <input type="text" placeholder="Skills" class="form-control" name="Skills" id="Skills" value="<%= currentjob.Skills %>">
                                                        <button type="button" id="addSkill">Add Skill</button>
                                                        <ul id="selectedSkillsList"></ul>
                                                    </div>
                                                    
                                                </div> -->
                                                <img src="/uploads/<%= currentjob.image %>"  id="selectedImage<%= currentjob._id %>" style="height: 14em;">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="image" id="formFileLg_<%= i %>" value="selectedImage<%= currentjob.image %>" name="fileInput" type="file" onchange="updateImagePreview(this, 'selectedImage<%= currentjob._id %>')">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea rows="5" placeholder="Description..." class="form-control mb-2" name="description" id="description"><%= currentjob.description %></textarea>
                                                    <a href="javascript:void(0);" class="btn btn-primary" onclick="submitForm('<%= currentjob._id %>')">Yes</a>
                                                    <button  class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        
                                    <!-- Edit Modal Close -->
        </div><!-- container -->

    </div>
    <!-- end page content -->
</div>

<!-- Add this code inside your existing script -->
<!-- Add this code inside your existing script -->
<script>
 const skillsArray = [];

function getdata() {
    const skillsInput = document.getElementById('Skills');
    const data = skillsInput.value.trim();

    if (data !== '') {
        skillsArray.push(data);

        // Update the skills list
        displayItems('selectedSkillsList', skillsArray);

        // Clear the input field
        skillsInput.value = '';
    }

    console.log(skillsArray, "rr");
    console.log("hiiiii");
}

function displayItems(listId, itemsArray) {
    const selectedList = document.getElementById(listId);
    selectedList.innerHTML = '';

    itemsArray.forEach(item => {
        const li = document.createElement('li');
        li.textContent = item;
        selectedList.appendChild(li);
    });
}


function submitForm(jobId) {
    console.log("data");
    const skillsInput = document.getElementById('Skills');
    skillsInput.value = JSON.stringify(skillsArray);

    var formId = "jobForm_" + jobId;
    var form = document.getElementById(formId);

    console.log("Form ID:", formId);
    console.log("Skills Value:", skillsInput.value);

    form.submit();
}
    document.addEventListener('DOMContentLoaded', function () {
        const jobForm = document.getElementById('jobForm');
     

      

        

        

        const cancelBtn = document.getElementById('cancelBtn');
        cancelBtn.addEventListener('click', function () {
            jobForm.reset();
            selectedSkills.length = 0;
           
            updateSelectedSkills();
          
        });
    });
</script>
<script>
    function updateImagePreview(input,imageId ) {
          if (input.files && input.files[0]) {
              const reader = new FileReader();
              reader.onload = function (e) {
                  document.getElementById(imageId).src = e.target.result;
              };
              reader.readAsDataURL(input.files[0]);
          }
      }

  function displaySelectedImage() {
      var input = document.getElementById('fileInput');
      var image = document.getElementById('selectedImage');

      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              image.src = e.target.result;
              image.style.display = 'block';
          };
          reader.readAsDataURL(input.files[0]);
      }
  }
  function cancelForm() {
      document.getElementById('New&updatesForm').reset();
      var image = document.getElementById('selectedImage');
      image.src = '';
      image.style.display = 'none';
  }
</script>
