<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">

                        <h4 class="page-title">Basic Tables</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>
            <!-- end page title end breadcrumb -->



            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Service Datas</h4>

                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>Service_Name</th>
                                            <th>Service_Desc</th>
                                            <th>Main_Heading</th>
                                            <th>Main_Desc</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (services.length > 0) { %>
                                            <% services.forEach(service => { %>
                                                <tr>
                                                    <td><img src="/uploads/<%= service.image %>" alt="" class="rounded-circle thumb-xs me-1"> <%= service.Service_Name %></td>
                                                    <td><%= service.Service_Description.length > 5 ? service.Service_Description.slice(0, 10) + '...' : service.Service_Description %></td>

                                                    <td><%= service.Main_Heading %></td>
                                                    <td><%= service.About_Me.length > 5 ? service.About_Me.slice(0, 10) + '...' : service.About_Me %></td>
                                                    <td class="text-end">
                                                        <a  class="btn btn-primary" data-bs-target="#modaldemo2_<%= service._id %>" data-bs-toggle="modal">Edit</a>
                                                        <a href="#" class="btn btn-danger" data-bs-target="#modaldemo3_<%= service._id %>" data-bs-toggle="modal">Delete </a>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" class="text-center">No services available.</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                    
                                </table><!--end /table-->
                            </div><!--end /tableresponsive-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!-- end col -->


            </div> <!-- end row -->
             <!-- Editmodal -->
             <% for (let i = 0; i < services.length; i++) { %>
                <% let service = services[i]; %>
                <div id="modaldemo2_<%= service._id %>" class="modal fade">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="/admin/EditService/<%= service._id %>"  method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="modal-body">
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Service_Name" value="<%= service.Service_Name %>" name="Service_Name" id="Service_Name" >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Main_Heading" value="<%= service.Main_Heading %>" name="Main_Heading" id="Main_Heading" >
                                    </div>
                                    
                                    <div class="form-group">
                                        <textarea rows="3" type="text" class="form-control" placeholder="Service_Description" name="Service_Description" id="Service_Description" ><%= service.Service_Description %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="6" type="text" class="form-control" placeholder="About_Me" name="About_Me" id="About_Me" ><%= service.About_Me %></textarea>
                                    </div>
                                    <img src="/uploads/<%= service.image %>"  id="selectedImage<%= service._id %>" style="height: 14em;">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="image" id="formFileLg_<%= i %>" value="selectedImage<%= service.image %>" name="fileInput" type="file" onchange="updateImagePreview(this, 'selectedImage<%= service._id %>')">
                                    </div>
                                    <button class="btn btn-primary btn-block mt-5" type="submit">Save</button>
                                </div>
                            </form><!-- modal-body -->
                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- edit modal close -->
        
                <% } %>

            <% for (let i = 0; i < services.length; i++) { %>
                <% let service = services[i]; %>
                <!-- Delete Modal -->
                <div id="modaldemo3_<%= service._id %>" class="modal fade">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-header" >
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="close-modal">No</button>
                                    <a href="/admin/serviceDelete/<%= service._id %>" class="btn btn-danger" type="button">Yes</a>
                                </div>
                            </div><!-- modal-content -->
                        </div><!-- modal-dialog -->
                    </div>
                </div>
            <% } %>
            <!-- Delete Modal Close -->



        </div><!-- container -->

        <!--Start Rightbar-->

        <!--end Rightbar-->

        <!--Start Footer-->
        <!-- Footer Start -->
    
    </div>
    <!-- end page content -->
</div>
<script>
      function updateImagePreview(input,imageId ) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(imageId).src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

</script>