<style>
    /* Your CSS */
.sub-menu {
    /* Styles for the main menu */
}

.sub-menu > li {
    /* Styles for the direct children of the main menu */
}

.sub-menu > li > ul {
    max-height: 200px; /* Set the maximum height you desire */
    overflow-y: auto; /* Enable vertical scrollbar if the content exceeds the max height */
}

/* Optional: Add some styling for better visibility */
.sub-menu li {
    padding: 5px;
}

.sub-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333; /* Adjust the color as needed */
}

.sub-menu a:hover {
    background-color: #eee; /* Adjust the background color on hover as needed */
}

</style>
<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Toolbar Area Start -->
        <div class="toolbar-area topbar-style1 hidden-md">
            <div class="container">
                <div class="row rs-vertical-middle">
                   <div class="col-lg-9">
                        <div class="toolbar-contact">
                            <ul class="rs-contact-info">                   
                                <li>
                                    <i class="fi fi-rr-envelope-plus"></i>                  
                                    <a href="mailto:asiapacificcareer@gmail.com">asiapacificcareer@gmail.com</a>               
                                </li>
                                <li>
                                      <i class="fi fi-rr-phone-call"></i>                                      
                                    <a href="tel:+91 0483 20 80189"> +91 0483 20 80189</a>                   
                                </li>
                                <li>
                                      <i class="fi-rr-map-marker-home"></i>                                      
                              Near  Calicut International Airport ,Kondotty          
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="toolbar-sl-share">
                            <ul class="clearfix">
                                <li class="opening"> <em><i class="fi fi-rr-time-add"></i>Mon - Sat: 9 - 6pm</em> </li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>                     
                                <!-- <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>                       -->
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar Area End -->
        
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row-table">
                    <div class="col-cell header-logo">                                  
                        <div class="logo-area">
                            <a href="/" >
                                <img class="normal-logo" src="/images/blog/sample2.png" alt="logo">  
                                <img class="sticky-logo" src="/images/blog/sample2.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-cell">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <nav class="rs-menu hidden-md">
                                    <ul class="nav-menu onepage-menu">
                                        <li class="current-menu-item"><a href="/">Home</a></li>
                                        <li><a href="/about">About</a> </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <% if (services && services.length > 0) { %>
                                                    <% services.forEach(service => { %>
                                                        <li>
                                                            <a href="/service/<%= service.slug %>"><%= service.Service_Name %></a>
                                                        </li>
                                                    <% }); %>
                                                <% } else { %>
                                                    <li>
                                                        <span>No services available</span>
                                                    </li>
                                                <% } %>
                                              
                                            </ul>
                                        </li>
                                        <li><a href="/abroad">Abroad Studies</a> </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Countries</a>
                                            <ul class="sub-menu">
                                                <% continent.forEach(continents => { %>
                                                <li class="last-item menu-item-has-children">
                                                    <a href="/jobs"><%= continents.continent %> <i class="fi fi-rr-plus-small"></i></a>
                                                    <ul class="sub-menu">
                                                        <% continents.countries.forEach(country => { %>
                                                        <li><a href="/jobs/<%= country %>"><%= country %></a></li>
                                                        <% }); %>
                                                    </ul>
                                                </li>
                                                <% }); %>
                                            </ul>
                                        </li>
                                        <li><a href="/news">News & updates</a> </li>
                                        
                                        <li><a href="/contact">Contact</a> </li>
                                        
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                    <div class="col-cell">
                        <div class="expand-btn-inner">
                            <ul>
                                <!-- <li class="btn-quote"><a class="quote-button" href="contact1.html">Get a Quote</a></li> -->
                                <li class="humburger">
                                    <a id="nav-expander" class="nav-expander bar" href="#">
                                        <div class="bar">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                            <span class="dot4"></span>
                                            <span class="dot5"></span>
                                            <span class="dot6"></span>
                                            <span class="dot7"></span>
                                            <span class="dot8"></span>
                                            <span class="dot9"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Canvas Menu start -->
        <nav class="right_menu_togle menu-wrap-off  hidden-md">
            <div class="close-btn">
                <a id="nav-close" class="nav-close">
                    <div class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </div>
                </a>
            </div>
            <div class="rs-offcanvas-inner">
                <div class="canvas-logo">
                    <a ><img src="/images/blog/sample2.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>Welcome to Asia pecific.</p>
                </div>
                <div class="canvas-contact">
                    <div class="address-area">
                        <div class="address-list">
                            <div class="info-icon">
                                <i class="flaticon-location"></i>
                            </div>
                            <div class="info-content">
                                <h4 class="title">Address</h4>
                                <em>First Floor City Tower,
                                    Bye-pass Road, kondotty</em>
                            </div>
                        </div>
                        <div class="address-list">
                            <div class="info-icon">
                                <i class="flaticon-email"></i>
                            </div>
                            <div class="info-content">
                                <h4 class="title">Email</h4>
                                <em><a href="mailto:support@rstheme.com">asiapacificcareer@gmail.com
                                    </a></em>
                            </div>
                         </div>
                        <div class="address-list">
                            <div class="info-icon">
                              <i class="flaticon-call"></i>
                            </div>
                            <div class="info-content">
                              <h4 class="title">Phone</h4>
                              <em>+91 0483 20 80189</em>
                            </div>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Canvas Menu end -->

        <!-- Canvas Mobile Menu start -->
        <nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
            <div class="close-btn">
                <a id="nav-close2" class="nav-close">
                    <div class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </div>
                </a>
            </div>

            <!-- //.nav-menu -->
            <ul class="nav-menu">
                <li class="current-menu-item"><a href="/">Home</a></li>
                <li><a href="/about">About</a> </li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <% if (services && services.length > 0) { %>
                            <% services.forEach(service => { %>
                                <li>
                                    <a href="/service/<%= service.slug %>"><%= service.Service_Name %></a>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li>
                                <span>No services available</span>
                            </li>
                        <% } %>
                      
                    </ul>
                </li>
                <li><a href="/abroad">Abroad Studies</a> </li>
                <li class="menu-item-has-children">
                    <a href="/jobs">Countries</a>
                    <ul class="sub-menu">
                        <% continent.forEach(continents => { %>
                        <li class="last-item menu-item-has-children">
                            <a href="/jobs"><%= continents.continent %> <i class="fi fi-rr-plus-small"></i></a>
                            <ul class="sub-menu">
                                <% continents.countries.forEach(country => { %>
                                <li><a href="/jobs/<%= country %>"><%= country %></a></li>
                                <% }); %>
                            </ul>
                        </li>
                        <% }); %>
                    </ul>
                </li>
                <li><a href="/news">News & updates</a> </li>
               
                <li><a href="/contact">Contact</a> </li>
                
            </ul> 
            <!-- //.nav-menu -->

            <div class="canvas-contact">
                  <div class="address-area">
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-location"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Address</h4>
                              <em>First Floor City Tower,
                                Bye-pass Road, kondotty</em>
                          </div>
                      </div>
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-email"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Email</h4>
                              <em><a href="mailto:asiapacificcareer@gmail.com">asiapacificcareer@gmail.com</a></em>
                          </div>
                      </div>
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-call"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Phone</h4>
                              <em>+91 0483 20 80189</em>
                          </div>
                      </div>
                  </div>
            </div>
        </nav>
        <!-- Canvas Menu end -->                             
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->