<!-- Slider Start -->
<div class="rs-slider rs-slider-style2">
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
        <!-- Slide 1 -->
        <div class="slider-direction" style="background-image: url(images/slider/style1/h1-1.jpg);">
        <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Asia Pacific</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                       CHAT SUPPORT / BPO<br>
                        [Buisness Process Outsourcing]<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                        <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <a class="readon slide-touch" href="/contact">Get In Touch</a>
                        </div>
                </div>
        </div>
        </div>
        <!-- Slide 2 -->
        <div class="slider-direction" style="background-image: url(images/slider/style1/h1-2.jpg);">
        <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Asia Pacific</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                       CHAT SUPPORT / BPO<br>
                        [Buisness Process Outsourcing]<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                        <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <a class="readon slide-touch" href="/contact">Get In Touch</a>
                        </div>
                </div>
        </div>
        </div>
    </div>
</div>
<!-- Slider End -->

<!-- About Start -->
<div id="rs-about" class="rs-about about-style1 pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50 pr-50 md-pr-15">
                <div class="images-part wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/main.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pr-25 md-pr-15">
                <div class="sec-title mb-40 md-mb-25">
                    <!-- <span class="sub-text">CAREER IN ASIA-PACIFIC</span> -->
                    <h2 class="title pb-20">
                        CHAT SUPPORT / BPO
                    </h2>
                    <p class="desc">
                        A method of subcontracting various business-related operations to third –party vendors. Chat support is a type of customer service where customers can communicate with customer service representatives through text-based messaging. This allows customers to get help with their questions or issues without having to make a phone call (Non-Voice).
                        Most chat support systems are operated through live chat software, which allows customers to initiate a conversation with a customer service representative.
                        
                    </p>
                </div>
                <div class="rs-addon-services">
                    <div class="services-item">
                       
                        <ul class="check-lists check-modify1">                              
                               <li>Age 20-40 Years</li>
                               <li>100% Free Recruitment</li>
                               <li>Good English & Fast Typing Must</li>          
                               <li>No Hidden Charges</li>     
                               <li>Training provided by professionals</li>          
                               <li>Food & Accommodation Free</li> 
                               <li>BASIC SALARY :₹
                                70,000 -
                                ₹ 100,000
                                </li>       
                        </ul>
                    </div>
                    <div class="border-widget"></div>
                    
                    <!-- <div class="services-item">
                        <div class="services-icon">
                            <img src="images/about/style1/icons/2.png" alt="">
                        </div>
                        <div class="services-content">
                            <h3 class="title">We’re built for growing businesses</h3>
                            <p class="services-txt">Knowledge is power globalize, yet core competencies Capitalize on low hanging fruit to a ballpark.</p>
                        </div>
                    </div> -->
                    <!-- <div class="btn-part mt-45">
                        <a class="readon details" href="about.html">Discover more</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="about-animate">
        <img src="/images/about/style1/about2.html" alt="Asbout">
    </div> -->
</div>
<!-- About End -->
<!-- Education -->
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <h2 class="title title2 title-color pb-20">
                        DIPLOMA COURSES: 01 YEAER - <span> MCAST</span>
                    </h2>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN HOTEL &HOSPITALITY MANAGEMENT</li>
                            <li>DIPLOMA IN TRANSPORTATION & LOGISTICS MGT</li>
                            <li>UNDEGRAGUATE DIPLOMA IN AUTO ELECTRONICS & ELECTRICAL TECHNOLOGY</li>
                            <li>MCAST PREPARATORY ACCESS COURSE</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>UNDEGRAGUATE DIPLOMA IN FOUNDATION OF ENGINEERING</li>
                             <li>UNDEGRAGUATE CERTIFICATE IN AUTOELECTRONIC &ELECTRICAL TECHNOLOGY</li>
                             <li>UNDEGRAGUATE DIPLOMA IN HOTEL AND HOSPITALITY MANAGEMENT</li>
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title"> IDEA ACADEMY </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN MANAGEMENT</li>
                            <li>DIPLOMA IN HOSPITALITY</li>
                            <li>DIPLOMA IN HEALTH SCIENCE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             
                        </ul>
                    </div>
                </div>
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->

            </div>
            <div class="col-lg-6">
                <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/approach/approch-3.png" alt="Images">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->
            <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <img src="images/approach/approch-3.png" alt="Images">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <h2 class="title title2 title-color pb-20">
                        PG DIPLOMA COURSES -LEVEL 7: 01 YEAR- <span> IDEA ACADEMY</span>
                    </h2>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>PG DIPLOMA IN MARKETING, PROJECT MGT, ENTREPREURSHIP, HUMAN RESOURSE</li>
                            <li> PG DIPLOMA IN HEALTHCARE MGT AND LEADERSHIP</li>
                            <li> PG DIPLOMA IN HOSPITALITY MANAGEMENT</li>
                            
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>PG DIPLOMA IN FINTECH</li>
                             <li> PG DIPLOMA IN ARTIFICAL INTELLIGENCE</li>
                             <li> PG DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title">GLOBAL COLLEGE </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            
                            <li>PG DIPLOMA IN MANAGEMENT, BUSSINESS ADMINISTRATION, BUSSINESS </li>
                            <li>ADMINISTRATION WITH LOGISTICS AND SUPPLY CHAIN, BUSSINESS </li>
                            <li>ADMINISTRATION LEADERSHIP &CHANGE MGT, MGT WITH HUMAN RESOURSE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             <p class="pt-2"><strong>MCAST</strong></p>
                             <li>PG DIPLOMA IN BUSSINESS ADMINISTRATION</li>
                             <li>PG DIPLOMA IN TOURISM &EVENT MGT</li>
                             
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <h2 class="title title2 title-color pb-20">
                        DEGREE COURSES: 03 OR 04 YEAER - <span> AMERICAN UNIVERSITY</span>
                    </h2>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                           <li>BSC IN ACCOUNTING</li>
                           <li> BSC IN BUSSINESS ADMINISTRATION</li>
                           <li>BSC IN BUSSINESS AND FINANCE</li>
                           <li>BSC IN GAME DEVELOPMENT</li>
                           <li>BSC IN MECHANICAL ENGINEERING</li>
                           <li> BSC IN INDUSTRIAL ENGINEERING</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>BSC IN CIVIL ENGINEERING</li>
                             <li>BSC IN ELECTRONIC AND COMMUNICATION ENGINEERING</li>
                             <li>BSC IN GRAPHIC DESIGN AND ANIMATION</li>
                             <li>BSC IN SOFTWARE ENGINEERING</li>
                             <li>BSC IN AVIATION MAINTENCE ENGINEERING</li>
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title">GLOBAL COLLEGE </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>BACHELOR OF ARTS IN MANAGEMENT </li>
                            <li>BACHELOR OF ARTS IN MANAGEMENT WITH HUMAN RESOURSE MANAGEMENT</li>
                            <li>BACHELOR OF ARTS IN ACCOUNTANCY AND FINANCE</li>
                            <li>BACHELOR OF ARTS IN TOURISM AND EVENT MANAGEMENT</li>
                            <li>BACHELOR OF ARTS IN MARKETING</li>
                            <li>BACHELOR OF ARTS IN MANAGEMENT WITH PSHYCHOLOGY</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p class=""><strong>IDEA ACADEMY</strong></p>
                        <ul class="check-lists">
                           <li>BSC IN MANAGEMENT </li>
                           <li>BSC IN ACCOUNTING WITH MANAGEMENT &ANALYTICS</li>
                           <li> BSC IN COMPUTING</li>
                           <li> BSC IN NURSING TOP UP</li>
                             
                        </ul>
                        <p class="pt-2"><strong>MCAST</strong></p>
                        <ul class="check-lists">
                           <li>UNDERGRAGUATE CERTIFICATE IN NURSING STUDIES (BRIDGING COURSE) </li>
                           <li>AWARD IN BUSSINESS MANAGEMENT</li>
                           <li>UNDERGRAGUATE CERTIFICATE IN NURSING STUDIES (BRIDGING COURSE)</li>
                             
                        </ul>
                    </div>
                </div>
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->

            </div>
            <div class="col-lg-6">
                <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/approach/approch-3.png" alt="Images">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="rs-about about-style2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-65 md-pr-15 md-mb-50">
                
                <!--
                <div class="btn-part mt-40">
                    <a class="readon slide-started more" href="about.html"><span>Get Started</span></a>
                </div>
            -->
            <div class="appoach-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <img src="images/approach/approch-3.png" alt="Images">
            </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title mb-30">
                    <span class="sub-text big-text">STUDY IN EUROPE-MALTA</span>
                    <h2 class="title title2 title-color pb-20">
                        MASTERS COURSES: 03 YEAER <span> AMERICAN UNIVERSITY</span>
                    </h2>
                    <!--<p class="desc small2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy data foster to collaborative thinking to empowerment.</p>
                
                    -->	</div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                           <li>MASTERS OF BUSSINESS ADMINISTRATION </li>
                           <li>MSC IN ENGINNERING MGT</li>
                           <li>MSC IN CYBER SECURITY</li>
                           <li>MSC IN COMPUTER SCIENCE</li>
                           <li>MSC IN ADVANCED MECHANICAL ENGINEERING</li>
                           <li>MBA IN TOURISM & HOSPITALITY</li>
                           <li>MBA IN HEALTH CARE MANAGEMENT</li>
                           <li>MASTER OF SCEINCE IN HEALTH & SOCIAL CARE MANAGNENT</li>
                          <li> MASTER OF SCEIENCE IN TOURISUM & EVENT MANAGMENT</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                          <li>MASTER OF BUSINESS ADMINISTRATION </li>
                          <li>MASTER OF BUSINESS ADMINISTRATION (LOGISTICKS & SUPPLY CHAIN MANAGMENT)</li>
                          <li>MASTER OF SCIENCE LEADERSHIP AND CHANGE MANAGEMENT</li>
                          <li>MASTER OF SCEINCE IN MANAGEMENT</li>
                          <li>MASTER OF SCEINCE IN MANAGEMENT (HUMAN RESOURCES)</li>
                          <li>MASTER OF SCEIENCE IN MARKETING MANAGMENT</li>
                          
                          <li> EXECUTIVE MASTER IN BUSINESS ADMINISTRATION</li>
                          
                             
                        </ul>
                    </div>
                </div>
                <div class="rs-addon-services">
                    <div class="services-wrap">
                        <!--
                        <div class="services-icon">
                            <img src="assets/images/approach/icon-bg.png" alt="Images">
                        </div>
                    -->
                        <div class="services-content">
                            <h5 class="title"> IDEA ACADEMY </h5>
                            <!--<p class="services-txt"><a href="tel:+0885898745">(+088) 589-8745</a></p>-->
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="check-lists">
                            <li>DIPLOMA IN MANAGEMENT</li>
                            <li>DIPLOMA IN HOSPITALITY</li>
                            <li>DIPLOMA IN HEALTH SCIENCE</li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="check-lists">
                             <li>DIPLOMA IN SUPPLY CHAIN MANAGEMENT & LOGISTICS</li>
                             <li>DIPLOMA IN ELDERLY CARE MANAGEMENT</li>
                             <li>DIPLOMA IN COMPUTING</li>
                             
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Education end -->
<!-- Skillbar Section Start -->
<!-- <div class="rs-skillbar skillbar-style1 bg13 pt-120 pb-170 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-40 md-mb-25">
                    <span class="sub-text">Our Approach</span>
                    <h2 class="title pb-20">
                        Building new generation skillfull & productive
                    </h2>
                    <p class="desc">
                        Leverage agile frameworks to provide a robust synopsis for<br> 
                        high level approaches to corporate strategy.
                    </p>
                </div>
                <div class="cl-skill-bar pr-100 md-pr-15">
                 
                    <span class="skillbar-title">Business Consulting</span>
                    <div class="skillbar" data-percent="95">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                   
                    <span class="skillbar-title">Credit Repair Services</span>
                    <div class="skillbar orange-bg" data-percent="88">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                 
                    <span class="skillbar-title">Fintech Services</span>
                    <div class="skillbar red-bg" data-percent="98">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                    <div class="btn-part mt-55 md-mt-35">
                        <a class="readon details contact" href="contact1.html">Contact Us</a>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skillbar-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/approach/apporch.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Skillbar Section Start -->







<!-- Project Start -->
<div id="rs-project" class="rs-project project-style1 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-55 md-mb-25">
            <span class="sub-text">Our Services</span>
            <h2 class="title">
                Proud to work with the largest<br> 
                organisation
            </h2>
        </div>
        <div class="row">
            <% if (services.length > 0) { %>
                <% services.forEach(services => { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="/service/<%= services.slug %>"><img src="/uploads/<%= services.image %>" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a><%= services.Main_Heading %></a></span>
                            <h3 class="title"><a><%= services.Service_Name %></a></h3>
                        </div>
                    </div>
                </div>
            </div>
              
            <% }); %>
            <% } else { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="portfolios-single.html"><img src="images/project/style1/2.jpg" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a href="portfolios-single.html">Discover</a></span>
                            <h3 class="title"><a href="portfolios-single.html">Construction Contractors</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
          
        </div>
    </div>
</div>
<!-- Project End -->

<!-- Call To Action Choose Start -->
<div class="rs-cta pt-120 md-pt-80 pb-120 md-pb-80">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text">Careers</span>
                <h2 class="title title4 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="contact1.html">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->



<!-- Blog Section Start -->
<div id="rs-blog" class="rs-blog blog-main-home pt-120 pb-115 md-pt-80 md-pb-80">
    <div class="container">  
        <div class="sec-title text-center mb-50">
             <span class="sub-text">News & BLog</span>
             <h2 class="title">
                 Latest news articles<br> 
                 & our insights
             </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
            <% if (News.length > 0) { %>
                <% News.forEach(Newsupdates => { %>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="/news"><img src="/uploads/<%= Newsupdates.image %>" alt=""></a>
                </div>
                <div class="blog-content">
                  
                    <h3 class="blog-title"><a><%= Newsupdates.News_Heading %></a></h3>
                    <div class="desc"><%=  Newsupdates.News_Description.slice(0, 160) + '...'  %></div>
                    <!-- <div class="blog-button"><a href="blog-single.html"></a></div> -->
                </div>
            </div>
            <% }); %>
            <% } else { %>
                <div class="blog-item">
                    <div class="image-wrap">
                        <a href="blog-single.html"><img src="images/blog/style1/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                               <li class="admin"><i class="fi  fi-rr-user"></i>Rstheme</li>
                               <li class="date"><i class="fi fi-rr-calendar"></i>23 March 2022</li>
                           </ul>
                        <h3 class="blog-title"><a href="blog-single.html">How investing in dependend your business growth.</a></h3>
                        <div class="desc">We denounce with righteous indige nation and dislike men who are so...</div>
                        <div class="blog-button"><a href="blog-single.html">Read More</a></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!-- Blog Section End -->

<!-- Contact Start -->

<!-- Contact End -->
<script>
        function submitForm(event) {
      
        // Reload the page
        location.reload();

        
        window.alert("contact detail send successfully")
    }
</script>