<!-- Slider Start -->
<div class="rs-slider rs-slider-style2">
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
        <!-- Slide 1 -->
        <div class="slider-direction" style="background-image: url(images/blog/style1/4.jpg);" >
        <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Asia Pacific</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                       CHAT SUPPORT / BPO<br>
                        [Buisness Process Outsourcing]<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                        <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <a class="readon slide-touch" href="/contact">Get In Touch</a>
                        </div>
                </div>
        </div>
        </div>
        <!-- Slide 2 -->
        <div class="slider-direction" style="background-image: url(images/blog/pic-5.png);">
        <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Asia Pacific</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                       CHAT SUPPORT / BPO<br>
                        [Buisness Process Outsourcing]<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                        <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <a class="readon slide-touch" href="/contact">Get In Touch</a>
                        </div>
                </div>
        </div>
        </div>
    </div>
</div>
<!-- Slider End -->
<!-- About Start -->
<div id="rs-about" class="rs-about about-style1 pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50 pr-50 md-pr-15">
                <div class="images-part wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/main.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pr-25 md-pr-15">
                <div class="sec-title mb-40 md-mb-25">
                    <!-- <span class="sub-text">CAREER IN ASIA-PACIFIC</span> -->
                    <h2 class="title pb-20">
                        CHAT SUPPORT / BPO
                    </h2>
                    <p class="desc">
                        A method of subcontracting various business-related operations to third –party vendors. Chat support is a type of customer service where customers can communicate with customer service representatives through text-based messaging. This allows customers to get help with their questions or issues without having to make a phone call (Non-Voice).
                        Most chat support systems are operated through live chat software, which allows customers to initiate a conversation with a customer service representative.
                        
                    </p>
                </div>
                <div class="rs-addon-services">
                    <div class="services-item">
                       
                        <ul class="check-lists check-modify1">  
                           <h6>Benefits</h6>
                               <li>Career Promotions</li>
                               <li>Salary Increment</li>
                               <li>Provident Fund</li>
                               <li>Over Time </li>          
                               <li>Performance Bonus</li>     
                               <li>Team Bonus</li>          
                               <li>Yearly Bonus</li> 
                               <li>Yearly Vacation Salary</li>    
                               <li>Yearly Vacation Flight Ticket</li>
                               <li>Health Insurance</li>
                               <li>Life Insurance</li>
                               <li>Family Status</li>   
                        </ul>
                    </div>
                    <div class="border-widget"></div>
                    
                    <!-- <div class="services-item">
                        <div class="services-icon">
                            <img src="images/about/style1/icons/2.png" alt="">
                        </div>
                        <div class="services-content">
                            <h3 class="title">We’re built for growing businesses</h3>
                            <p class="services-txt">Knowledge is power globalize, yet core competencies Capitalize on low hanging fruit to a ballpark.</p>
                        </div>
                    </div> -->
                    <!-- <div class="btn-part mt-45">
                        <a class="readon details" href="about.html">Discover more</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="about-animate">
        <img src="/images/about/style1/about2.html" alt="Asbout">
    </div> -->
</div>
<!-- About End -->
<!-- Job Start -->
<div id="rs-blog" class="rs-blog blog-main-home pt-10 pb-20 md-pt-10 md-pb-20">
    <div class="container">  
        <div class="sec-title text-center mb-50">
             <!-- <span class="sub-text">Jobs</span> -->
             <h2 class="title" style="color: #FF6D00;">
                 LATEST NEWS CAREERS<br> 
                 
             </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
            <% if (Jobs.length > 0) { %>
                <% Jobs.forEach(data => { %>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="/jobs/<%=data. location %>"><img src="/uploads/<%= data.image %>" alt=""></a>
                </div>
                <div class="blog-content">
                  
                    <h3 class="blog-title"><a><%= data.category %></a></h3>
                    <div class="desc"><%=  data.description.slice(0, 160) + '...'  %></div>
                    <!-- <div class="blog-button"><a href="blog-single.html"></a></div> -->
                </div>
            </div>
            <% }); %>
            <% } else { %>
                <div class="blog-item">
                    <div class="image-wrap">
                        <a href="blog-single.html"><img src="images/blog/style1/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                               <li class="admin"><i class="fi  fi-rr-user"></i>Rstheme</li>
                               <li class="date"><i class="fi fi-rr-calendar"></i>23 March 2022</li>
                           </ul>
                        <h3 class="blog-title"><a href="blog-single.html">How investing in dependend your business growth.</a></h3>
                        <div class="desc">We denounce with righteous indige nation and dislike men who are so...</div>
                        <div class="blog-button"><a href="blog-single.html">Read More</a></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!-- job end -->

<!-- Education -->
<div id="rs-blog" class="rs-blog blog-main-home pt-120 pb-15 md-pt-80 md-pb-10">
    <div class="container">  
        <div class="sec-title text-center mb-50">
             <span class="sub-text">News & BLog</span>
             <h2 class="title">
                 Latest news articles<br> 
                 & our insights
             </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
            <% if (News.length > 0) { %>
                <% News.forEach(Newsupdates => { %>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="/news"><img src="/uploads/<%= Newsupdates.image %>" alt=""></a>
                </div>
                <div class="blog-content">
                  
                    <h3 class="blog-title"><a><%= Newsupdates.News_Heading %></a></h3>
                    <div class="blog-desc" style=" white-space: pre-wrap;">
                        <%- Newsupdates.News_Description.slice(0, 100).replace(/•/g,"\n") %>
                      </div>
                    <!-- <div class="blog-button"><a href="blog-single.html"></a></div> -->
                </div>
            </div>
            <% }); %>
            <% } else { %>
                <div class="blog-item">
                    <div class="image-wrap">
                        <a href="blog-single.html"><img src="images/blog/style1/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                               <li class="admin"><i class="fi  fi-rr-user"></i>Rstheme</li>
                               <li class="date"><i class="fi fi-rr-calendar"></i>23 March 2022</li>
                           </ul>
                        <h3 class="blog-title"><a href="blog-single.html">How investing in dependend your business growth.</a></h3>
                        <div class="desc">We denounce with righteous indige nation and dislike men who are so...</div>
                        <div class="blog-button"><a href="blog-single.html">Read More</a></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!-- Education end -->
<!-- Skillbar Section Start -->
<!-- <div class="rs-skillbar skillbar-style1 bg13 pt-120 pb-170 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-40 md-mb-25">
                    <span class="sub-text">Our Approach</span>
                    <h2 class="title pb-20">
                        Building new generation skillfull & productive
                    </h2>
                    <p class="desc">
                        Leverage agile frameworks to provide a robust synopsis for<br> 
                        high level approaches to corporate strategy.
                    </p>
                </div>
                <div class="cl-skill-bar pr-100 md-pr-15">
                 
                    <span class="skillbar-title">Business Consulting</span>
                    <div class="skillbar" data-percent="95">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                   
                    <span class="skillbar-title">Credit Repair Services</span>
                    <div class="skillbar orange-bg" data-percent="88">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                 
                    <span class="skillbar-title">Fintech Services</span>
                    <div class="skillbar red-bg" data-percent="98">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                    <div class="btn-part mt-55 md-mt-35">
                        <a class="readon details contact" href="contact1.html">Contact Us</a>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skillbar-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/approach/apporch.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Skillbar Section Start -->







<!-- Project Start -->
<div id="rs-project" class="rs-project project-style1 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-55 md-mb-25">
            <span class="sub-text">Our Services</span>
            <h2 class="title">
                Proud to work with the largest<br> 
                organisation
            </h2>
        </div>
        <div class="row">
            <% if (services.length > 0) { %>
                <% services.forEach(services => { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="/service/<%= services.slug %>"><img src="/uploads/<%= services.image %>" alt="images" onclick="handleimageclick"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a><%= services.Main_Heading %></a></span>
                            <h3 class="title"><a><%= services.Service_Name %></a></h3>
                        </div>
                    </div>
                </div>
            </div>
              
            <% }); %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="/"><img src="images/blog/style1/2.jpg" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a href="/">CHAT SUPPORT</a></span>
                            <h3 class="title"><a href="/">CHAT SUPPORT</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="/"><img src="images/blog/style1/4.jpg" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a href="/">BPO</a></span>
                            <h3 class="title"><a href="/">BPO</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="/"><img src="images/project/style1/2.jpg" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a href="/l">Discover</a></span>
                            <h3 class="title"><a href="/">Construction Contractors</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
          
        </div>
    </div>
</div>
<!-- Project End -->

<!-- Call To Action Choose Start -->
<div class="rs-cta pt-120 md-pt-80 pb-120 md-pb-80">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text">Careers</span>
                <h2 class="title title4 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="/contact">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->

<!-- countries -->
<div id="rs-blog" class="rs-blog blog-main-home pt-10 pb-15 md-pt-10 md-pb-10">
    <div class="container">  
        <div class="sec-title mb-50">
            <span class="sub-text p-2">Countries</span>
            <h2 class="title">Asia Pacific<br></h2>
            <ul class="flex">
                <li>Australia</li>
                <li>Brunei</li>
                <li>Cambodia</li>
                <li>China</li>
                <li>Hong Kong</li>
                <li>Japan</li>
                <li>Laos</li>
                <li>Maldives</li>
                <li>Malaysia</li>
                <li>New Zealand</li>
                <li>Singapore</li>
                <li>South Korea</li>
                <li>Thailand</li>
                <li>Vietnam</li>
              </ul>
              <h2 class="title p-2">AFRICA<br></h2>
              <ul class="flex">
                <li>Ghana</li>
                <li>Mauritius</li>
                <li>South</li>
                <li>Africa</li>
              </ul>
              <h2 class="title p-2">AMERICA<br></h2>
              <ul class="flex">
                <li>Brazil</li>
                <li>Canada</li>
                <li>Mexico</li>
                <li>United States</li>
              </ul>
              <h2 class="title p-2">Europe<br></h2>
              <ul class="flex">
                <li>Austria</li>
                <li>Belgium</li>
                <li>Croatia</li>
                <li>Cyprus</li>
                <li>Czech Republic</li>
                <li>Denmark</li>
                <li>Finland</li>
                <li>France</li>
                <li>Iceland</li>
                <li>Germany</li>
                <li>Greece</li>
                <li>Hungary</li>
                <li>Italy</li>
                <li>Malta</li>
                <li>Netherlands</li>
                <li>Norway</li>
                <li>Poland</li>
                <li>Portugal</li>
                <li>Russian Federation</li>
                <li>Serbia</li>
                <li>Slovakia</li>
                <li>Spain</li>
                <li>Sweden</li>
                <li>Switzerland</li>
                <li>United Kingdom</li>
              </ul>
              <h2 class="title p-2">Middle East [Arab States]<br></h2>
              <ul class="flex">
                <li>Bahrain</li>
                <li>Israel</li>
                <li>Jordan</li>
                <li>Kuwait</li>
                <li>Oman</li>
                <li>Qatar</li>
                <li>Kingdom of Saudi Arabia (KSA)</li>
                <li>United Arab Emirates (UAE)</li>
              
              </ul>
              
          </div>
          
        
    </div>
</div>
<!--  -->

<!-- Blog Section Start -->

<!-- Blog Section End -->

<!-- Contact Start -->

<!-- Contact End -->
<script>
        function submitForm(event) {
      
        // Reload the page
        location.reload();

        
        window.alert("contact detail send successfully")
    }

    function handleimageclick(){
        naviga
    }
</script>
<style>
 


.flex {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  gap: 10px;
}

.flex li {
  font-weight: bold;
  background-color: #f1f7fa; /* Optional: Add background color for better visibility */
  padding: 10px;
  border-radius: 5px;
  flex: 1 0 calc(33.3333% - 20px); /* Adjust based on the number of columns you want */
  box-sizing: border-box;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .flex li {
    flex: 1 0 calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .flex li {
    flex: 1 0 calc(100% - 20px);
  }
}


</style>