<!-- Slider Start -->
<div class="rs-slider rs-slider-style2">
    <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
        <!-- Slide 1 -->
        <div class="slider-direction" style="background-image: url(images/slider/style1/h1-1.jpg);">
        <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Renovix</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        We Unsure Quality<br>
                        Business Services<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                        <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <a class="readon slide-touch" href="contact1.html">Get In Touch</a>
                        </div>
                </div>
        </div>
        </div>
        <!-- Slide 2 -->
        <div class="slider-direction" style="background-image: url(images/slider/style1/h1-2.jpg);">
            <div class="container">
                <div class="content-part">
                    <span class="sl-subtitle wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">Welcome to Renovix</span>
                    <h1 class="sl-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        We Help Building<br>
                        Your Business<br>
                    </h1>
                    <p class="sl-desc wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s">
                        We override your visions and divide with additional click<br> 
                        through from world class business services.
                    </p>
                    <div class="slider-bottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                        <a class="readon slide-touch" href="contact1.html">Get In Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider End -->

<!-- About Start -->
<div id="rs-about" class="rs-about about-style1 pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50 pr-50 md-pr-15">
                <div class="images-part wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/about/style1/about.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pr-25 md-pr-15">
                <div class="sec-title mb-40 md-mb-25">
                    <span class="sub-text">About Us</span>
                    <h2 class="title pb-20">
                        Over 25 years of experience in building business
                    </h2>
                    <p class="desc">
                        Leverage agile frameworks to provide a robust synopsis for<br> 
                        high level approaches to corporate strategy.
                    </p>
                </div>
                <div class="rs-addon-services">
                    <div class="services-item">
                        <div class="services-icon">
                            <img src="images/about/style1/icons/1.png" alt="">
                        </div>
                        <div class="services-content">
                            <h3 class="title">Our commitment to race equality</h3>
                            <p class="services-txt">Knowledge is power globalize, yet core competencies Capitalize on low hanging fruit to a ballpark.</p>
                        </div>
                    </div>
                    <div class="border-widget"></div>
                    <div class="services-item">
                        <div class="services-icon">
                            <img src="images/about/style1/icons/2.png" alt="">
                        </div>
                        <div class="services-content">
                            <h3 class="title">We’re built for growing businesses</h3>
                            <p class="services-txt">Knowledge is power globalize, yet core competencies Capitalize on low hanging fruit to a ballpark.</p>
                        </div>
                    </div>
                    <div class="btn-part mt-45">
                        <a class="readon details" href="about.html">Discover more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-animate">
        <img src="images/about/style1/about2.html" alt="About">
    </div>
</div>
<!-- About End -->

<!-- Skillbar Section Start -->
<!-- <div class="rs-skillbar skillbar-style1 bg13 pt-120 pb-170 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-40 md-mb-25">
                    <span class="sub-text">Our Approach</span>
                    <h2 class="title pb-20">
                        Building new generation skillfull & productive
                    </h2>
                    <p class="desc">
                        Leverage agile frameworks to provide a robust synopsis for<br> 
                        high level approaches to corporate strategy.
                    </p>
                </div>
                <div class="cl-skill-bar pr-100 md-pr-15">
                 
                    <span class="skillbar-title">Business Consulting</span>
                    <div class="skillbar" data-percent="95">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                   
                    <span class="skillbar-title">Credit Repair Services</span>
                    <div class="skillbar orange-bg" data-percent="88">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                 
                    <span class="skillbar-title">Fintech Services</span>
                    <div class="skillbar red-bg" data-percent="98">
                        <p class="skillbar-bar"></p>
                        <span class="skill-bar-percent"></span> 
                    </div>
                    <div class="btn-part mt-55 md-mt-35">
                        <a class="readon details contact" href="contact1.html">Contact Us</a>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skillbar-img wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <img src="images/approach/apporch.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Skillbar Section Start -->







<!-- Project Start -->
<div id="rs-project" class="rs-project project-style1 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-55 md-mb-25">
            <span class="sub-text">Our Services</span>
            <h2 class="title">
                Proud to work with the largest<br> 
                organisation
            </h2>
        </div>
        <div class="row">
            <% if (services.length > 0) { %>
                <% services.forEach(services => { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="portfolios-single.html"><img src="/uploads/<%= services.image %>" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a><%= services.Main_Heading %></a></span>
                            <h3 class="title"><a><%= services.Service_Name %></a></h3>
                        </div>
                    </div>
                </div>
            </div>
              
            <% }); %>
            <% } else { %>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a href="portfolios-single.html"><img src="images/project/style1/2.jpg" alt="images"></a>
                    </div>
                    <div class="project-content"> 
                        <div class="project-inner">
                            <span class="category"><a href="portfolios-single.html">Discover</a></span>
                            <h3 class="title"><a href="portfolios-single.html">Construction Contractors</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
          
        </div>
    </div>
</div>
<!-- Project End -->

<!-- Call To Action Choose Start -->
<div class="rs-cta pt-120 md-pt-80 pb-120 md-pb-80">
    <div class="container">
        <div class="call-action bg1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="sec-title">
                <span class="sub-text">Careers</span>
                <h2 class="title title4 pb-28">
                    Want to Be Part of<br>
                    Our <span>Team?</span>
                </h2>
                <div class="btn-part">
                    <a class="readon details join" href="contact1.html">Join Our Team</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action Choose End -->



<!-- Blog Section Start -->
<div id="rs-blog" class="rs-blog blog-main-home pt-120 pb-115 md-pt-80 md-pb-80">
    <div class="container">  
        <div class="sec-title text-center mb-50">
             <span class="sub-text">News & BLog</span>
             <h2 class="title">
                 Latest news articles<br> 
                 & our insights
             </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
            <% if (News.length > 0) { %>
                <% News.forEach(Newsupdates => { %>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-single.html"><img src="/uploads/<%= Newsupdates.image %>" alt=""></a>
                </div>
                <div class="blog-content">
                  
                    <h3 class="blog-title"><a><%= Newsupdates.News_Heading %></a></h3>
                    <div class="desc"><%=  Newsupdates.News_Description.slice(0, 160) + '...'  %></div>
                    <!-- <div class="blog-button"><a href="blog-single.html"></a></div> -->
                </div>
            </div>
            <% }); %>
            <% } else { %>
                <div class="blog-item">
                    <div class="image-wrap">
                        <a href="blog-single.html"><img src="images/blog/style1/1.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                               <li class="admin"><i class="fi  fi-rr-user"></i>Rstheme</li>
                               <li class="date"><i class="fi fi-rr-calendar"></i>23 March 2022</li>
                           </ul>
                        <h3 class="blog-title"><a href="blog-single.html">How investing in dependend your business growth.</a></h3>
                        <div class="desc">We denounce with righteous indige nation and dislike men who are so...</div>
                        <div class="blog-button"><a href="blog-single.html">Read More</a></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>
<!-- Blog Section End -->

<!-- Contact Start -->
<div id="rs-contact" class="rs-contact contact-style1 bg2 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-60 pr-50 md-pr-15 md-pt-0 md-mb-50">
                <div class="sec-title2 mb-60">
                    <h2 class="title pb-20">Let’s talk your business to <span>move</span> forward.</h2>
                    <p class="description">Leverage agile frameworks to provide a robust synopsis for high 
                    level overviews iterative approaches.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-65 md-mb-40">
                        <div class="address-item">
                            <div class="address-icon">
                                <img src="images/contact/icons/1.png" alt="Images">
                            </div>
                            <div class="address-text">
                                <h4 class="title"> USA office</h4>
                                <p class="address-txt">  55 Gerad Lane, NY<br>
                                11201, USA
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-65 md-mb-40">
                        <div class="address-item">
                            <div class="address-icon">
                                <img src="images/contact/icons/2.png" alt="Images">
                            </div>
                            <div class="address-text">
                                <h4 class="title">UK office</h4>
                                <p class="address-txt"> 
                                    96 Bali Road, NYGD<br>
                                    4578, UK
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 md-mb-40">
                        <div class="address-item">
                            <div class="address-icon">
                                <img src="images/contact/icons/3.png" alt="Images">
                            </div>
                            <div class="address-text">
                                <h4 class="title">Email us</h4>
                                <p class="address-txt">
                                    info@yourdomain.com<br>
                                    support@name.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="address-item">
                            <div class="address-icon">
                                <img src="images/contact/icons/4.png" alt="Images">
                            </div>
                            <div class="address-text">
                                <h4 class="title">Call us</h4>
                                <p class="address-txt">
                                    (+088) 589-8745<br> 
                                    (+088) 222-9999
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-section wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="sec-title2 mb-40">
                        <h2 class="title">Request a  <span>call</span> back</h2>
                    </div>
                    <div class="contact-wrap">
                        <form id="contact-form" method="post" action="/Addcontact" onsubmit="submitForm(event)">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-25">
                                        <input class="from-control" type="text" id="place" name="place" placeholder="Your place" required="">
                                    </div>
                                    <div class="col-lg-12 mb-30">
                                        <textarea class="from-control" id="message" name="message" placeholder="Your Message Here" required=""></textarea>
                                    </div>
                                </div>
                                <div class="btn-part">                                            
                                    <div class="form-group mb-0">
                                        <input class="readon details submit" type="submit" value="Submit Now">
                                    </div>
                                </div> 
                            </fieldset>
                        </form> 
                        <div id="form-messages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<script>
        function submitForm(event) {
      
        // Reload the page
        location.reload();

        
        window.alert("contact detail send successfully")
    }
</script>