<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Careers Single
                <span class="watermark">Careers</span>
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br> 
            modeserunt mollit anim id est laborum 20 years experience.</span>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Careers Single Section Start -->
<div class="rs-careers-single pt-120 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-45 md-pr-15 md-mb-50">
                <div class="career-inner-section">
                    <div class="career-wrap">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-inner">
                                    <div class="description">
                                        <p><strong>Job Category:</strong> <%=jobs.category%></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="title-inner">
                                    <div class="description">
                                        <p><strong>Job Type:</strong> <%=jobs.jobType%><br><strong>Vacancy:</strong>  <%=jobs.vecancy%></p>  
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="career-img">
                        <img src="/uploads/<%= jobs.image %>" alt="" style="height: 40%; width: 100%;">
                    </div>

                    <p class="desc pt-35 pb-60"><%=jobs.description%></p>

                    <h2 class="title pb-10">Required skills:</h2>

                    <ul class="dots">
                        <% jobs.selectedSkills.forEach(function(skill) { %>
                            <li><%= skill %></li>
                        <% }); %>
                    </ul>
                
                    <!-- <h2 class="title pt-20 pb-20">Working Days</h2>
                    <ul class="dots">
                        <li><%=jobs.workingday%></li>
                    </ul> -->

                    <!-- <h2 class="title pt-20 pb-20">Salary:</h2>
                    <ul class="dots">
                        <li>Tk. 32000 – 60000 (Negotiable)</li>
                    </ul> -->

                    <!-- <h2 class="title pt-20 pb-20">Other Benefits:</h2>
                    <ul class="dots">
                        <li>Young Team</li>
                        <li>Weekly 2 Holidays</li>
                        <li>Free Lunch</li>
                        <li>Performance Bonus</li>
                        <li>Weekend: Saturday & Sunday</li>
                        <li>Salary Review: Yearly</li>
                        <li>Yearly 2 Festival Bonus.</li>
                        <li>Lunch and Snacks will be provided from the office.</li>
                        <li>Unlimited Tea.</li>
                        <li>Annual Tour</li>
                        <li>Other facilities as per company policy</li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-wrap">
                    <div class="title-inner">        		      		
                        <h2 class="title">Apply for this position</h2>					        
                    </div>
                    <form id="contact-form" method="post" action="/submit-form" onsubmit="submitForm(event)">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="name" name="name" placeholder=" Full Name" required="">
                                </div> 
                                <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="age" name="age" placeholder=" Age" required="">
                                </div> 
                                <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="email" name="email" placeholder="Academic Qualification" required="">
                                </div>   
                                <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="qualification" name="qualification" placeholder="Technical Qualification (Computer)" required="">
                                </div> 
                                <!-- <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="speed" name="speed" placeholder=" Typing Speed (WPM)" required="">
                                </div>  -->
                                <div class="col-lg-12 mb-25">
                                    <select class="form-control" name="speed" id="speed" required="">
                                        <option selected disabled>Typing Speed (WPM)</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35 Above">35 Above</option>
                                    </select>
                                </div> 
                                <div class="col-lg-12 mb-25">
                                    <select class="form-control" name="englishKnowledge" id="englishKnowledge">
                                        <option selected disabled>Select English Knowledge</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </div> 
                        
                                <div class="col-lg-12 mb-25">
                                    <select class="form-control" name="gender" id="gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div> 
                                <div class="col-lg-12 mb-25">
                                    <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone" required="">
                                </div>
                            </div>
                            
                            <input type="hidden" name="jobId" value="<%=jobs._id%>">
                            <div class="btn-part">                                            
                                <div class="form-group mb-0">
                                    <input class="readon details submit2" type="submit" value="Submit Now">
                                </div>
                            </div>
                        </fieldset>
                    </form> 
                    <!-- <div id="form-messages"></div> -->
                </div>
                <div class="services-add mt-30">
                    <div class="services-overlay"></div>
                    <div class="address-wrap mb-20">
                        <div class="icon-part mb-37">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h2 class="title"><span>Have</span> any Questions? Call us Today!</h2>
                        <div class="divider">
                            <span class="divider-separator"></span>
                        </div>
                        <div class="contact">
                            <a href="tel:+91 0483 20 80189">+91 0483 20 80189</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Careers Single Section End -->

</div> 


<script>
    function submitForm(event) {
  
    location.reload();

    window.alert("Job Applied successfully")
}
</script>