<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img4">
    <div class="container">
        <div class="breadcrumbs-inner">
            <% if (service) { %>
                <h1 class="page-title">
                    <%= service.Service_Name %>
                    <span class="watermark">Services</span>
                </h1>
                <span class="sub-text"><%= service.Service_Description %></span>
            <% } else { %>
                <!-- Handle the case where service is undefined or null -->
                <h1 class="page-title">Service Not Found</h1>
            <% } %>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Services Single Start -->

<div class="rs-services-single pt-120 pb-120 md-pt-80 md-pb-80">
   <div class="container">
        <div class="row">
            <% if (service) { %>
            <div class="col-lg-8 md-mb-50">
                <div class="services-img mb-60">
                    <img src="/uploads/<%= service.image %>" alt="">

                </div>
                <div class="services-title pb-24">
                    <h2 class="title"><%= service.Main_Heading %></h2>
                </div>
                <p class="desc-part pb-26">
                    <%= service.About_Me%>
                </p>
                <!-- <ul class="check-lists check-modify1">                              
                    <li>Sed ut perspiciatis unde omnis iste natus error</li>
                       <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                       <li>Accusamus et iusto odio dignissimos ducimus qui blanditiis</li>          
                       <li>Nam libero tempore, cum soluta nobis est eligendi optio cumque</li>          
                </ul> -->
                <!-- Counter Section Start -->
                <div class="rs-counter counter-style3 pt-50 pb-55">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 sm-mb-30">
                            <div class="rs-counter-list">
                                <div class="counter-text">
                                    <div class="counter-icon">
                                        <img src="images/counter/ser-single/1.png" alt="">
                                    </div>
                                    <div class="counter-number">
                                        <span class="rs-count odometer" data-count="5600">00</span>
                                        <span class="prefix">+</span>
                                    </div>
                                    <span class="title">Satisfied clients</span>	
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="rs-counter-list">
                                <div class="counter-text">
                                    <div class="counter-icon">
                                        <img src="images/counter/ser-single/2.png" alt="">
                                    </div>
                                    <div class="counter-number">
                                        <span class="rs-count odometer" data-count="6500">00</span>
                                        <span class="prefix">+</span>
                                    </div>
                                    <span class="title">Success of works</span>	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Counter Section End -->
                <!-- <p class="desc-part pb-50">
                    Cras enim urna, interdum nec porttitor vitae, sollicitudin eu eros. Praesent eget mollis nulla, non lacinia urna. Donec sit amet neque auctor, ornare dui rutrum, condimentum justo. Duis dictum, ex accumsan eleifend eleifend, ex justo aliquam nunc, in ultrices ante quam eget massa. Sed scelerisque, odio eu tempor pulvinar, magna tortor finibus lorem.
                </p> -->
                <div class="row mb-80 md-mb-40">
                    <div class="col-lg-6 col-md-6 sm-mb-30">
                        <img class="bdru-4" src="images/services/services-single/2.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img class="bdru-4" src="images/services/services-single/3.jpg" alt="">
                    </div>
                </div>
          
            </div>
             
            <div class="col-lg-4 pl-36 md-pl-15">
                <ul class="services-list mb-50">
                    <% services.forEach(service => { %>
                        <li>
                            <a href="/service/<%= service.slug %>" class="<%= service.slug === activeService.slug ? 'active' : '' %>">
                                <%= service.Service_Name %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
                
                <div class="services-add mb-40">
                    <div class="services-overlay"></div>
                    <div class="address-wrap mb-20">
                        <div class="icon-part mb-37">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h2 class="title"><span>Have</span> any Questions? Call us Today!</h2>
                        <div class="divider">
                            <span class="divider-separator"></span>
                        </div>
                        <div class="contact">
                            <a href="tel:8943074789">8943074789</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="brochures">
                    <div class="content-text">
                        <div class="title-part">
                            <h3 class="title">Brochures</h3>
                        </div>
                        <p class="desc-part">
                            Cras enim urna, interdum nec por ttitor vitae, sollicitudin eu erosen. Praesent eget mollis nulla .
                        </p>
                    </div>
                    <div class="btn-wrapper">
                        <a class="dual-btn" href="#">Download</a>
                        <a class="dual-btn-connector" href="#">Or</a>
                        <a class="rselement-dual-btn" href="#">Discover</a>
                    </div>
                </div> -->
            </div>
            <% } %>
        </div> 
   </div> 
</div>
<!-- Services Single End -->